*{
margin:0%;
/* border: 1px solid red; */
}
.navbar-brand{
    width:10%;
}
.navbar{
    background-color: #f06292;
}
.nav-link{
    color: white;
    font-weight: bold;
}
.fa-bars{
    color: white;
}
#home{
    background-image: url(https://i.pinimg.com/originals/34/3f/17/343f17760afeb5f0f38173001529f830.jpg);
    width: 99.8vw;
    height: 90vh;
    background-size: cover;
    background-image: center;
}
.store{
    color: white;
    text-shadow: 1px 2px 7px black;
}
.heading{
    color: green;
    font-weight: bold;
    font-size: 50px;
}
.info{
    background-color: #f06292;
    color: white;
    padding: 4%;
}
.info p{
    line-height: 30px;
    margin-top: 3%;
}
.d-block{
    aspect-ratio: 3/2;
}
.card img{
    width:100%;
    aspect-ratio: 3/2;
}
.input-group-text{
    background-color: #f06292;
    color: white;
    font-weight: bold;
    border: none;
}
#footer{
    background-color: #f06292;
    padding: 2%;
}
#footer p{
    color: white;
    font-weight: bold;
    
}
.icons{
    color: white;
    font-size: 25px;
    text-shadow: 1px 2px 3px black;
    
}
.icons i{
    margin-right: 2%;
}
.icons i:hover{
    color: goldenrod;
}